body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(1, 135, 108);
    color: rgb(174, 235, 232);

}

.btn{
    width: 91.5%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

div{
    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 20px;
    background: rgb(1, 135, 108);
    color: rgb(250, 255, 255);
    opacity: 0.8;
    text-align: center;
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(1, 135, 108);
    color: rgb(174, 235, 232);
}
